{% extends 'base.html.twig' %}

{% block title 'New Pin' %}

{% block body %}
    <h1>Create Pin</h1>

    {{ form_start(monFormulaire)}}
        {{ form_widget(monFormulaire)}}

        <input type="submit" value="Create Pin">
    {{ form_end(monFormulaire)}}
{% endblock %}
